.select{
  width: 40%;
  border: 2px solid rgba(30, 144, 255, 0.4);
  border-radius: 15px;
  background-color: white;
  background-image: url('../../assets/sort-down.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position-x: 98%;
  background-position-y: center;
  padding: 10px;
  cursor: pointer;
  color: rgba(30, 144, 255, 0.4);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 15px;
}

.select:hover, .select:focus{
  background-image: url('../../assets/sort-down2.svg');
  border-color: rgb(30, 144, 255);
  color: rgb(30, 144, 255);
}

@media (max-width: 425px){
  .select{
    width: 100%;
  }
}
