.searchBox{
  width: 100%;
  border: 2px solid rgba(30, 144, 255, 0.4);
  border-radius: 15px;
  background-image: url('../../assets/magnifying-glass2.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 99%;
  background-position-y: center;
  padding: 10px;
  outline: none;
}

.searchBox:hover, .searchBox:focus{
  background-image: url('../../assets/magnifying-glass.svg');
  border-color: rgba(30, 144, 255);
}

.searchBox::placeholder{
  color: rgba(30, 144, 255, 0.4);
}

.searchBox:hover::placeholder, .searchBox:focus::placeholder{
  color: rgba(30, 144, 255);
}
