.container{
  padding: 20px;
  border: 1px solid slategrey;
  border-radius: 20px;
  margin-bottom: 40px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: slategrey;
}

.titleSeparator{
  margin-left: 20%;
}

.detailTitle{
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: slategray;
}

.star{
  width: 15px;
  margin-left: 2px;
}

.detailsPlaceholder{
  width: 20%;
  height: 20px;
  margin-left: 40px;
  background-color: darkgray;
}

.textPlaceholder{
  width: 90%;
  height: 20px;
  margin-top: 40px;
  background-color: darkgray;
}

.containerPadding{
  min-height: 205px;
}

@media (max-width: 425px){
  .details{
    flex-direction: column;
    align-items: flex-start;
  }

  .titleSeparator{
    margin-left: 0;
    margin-top: 15px;
  }
}