.container{
  width: 100%;
  margin: 40px 0;
  color: slategrey;
  font-weight: 600;
}

.radioGroup{
  padding: 0;
  margin: 0;
  margin-top: 20px;
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.label{
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: 60px;
  justify-content: space-between;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

.radio{
  display: none;
}

.spanBorder{
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid rgb(30, 144, 255);
  border-radius: 5px;
}

.clicked{
  display: block;
  margin: auto;
  width: 12px;
  height: 12px;
  background: rgb(30, 144, 255);
  border-radius: 2px;
}

.star{
  width: 15px; 
  margin-left: 5px;
}