.button{
  border-radius: 15px;
  width: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: dimgray;
  color: white;
  cursor: pointer;
  outline: none;
  border: 0;
  margin-bottom: 15px;
  align-self: flex-end;
}

.button:hover{
  background-color: dodgerblue;
}