.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding: 5vw;
}

.wrappedContainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

@media (max-width: 1024px){
  .wrappedContainer{
    width: 100%;
  }
}